In [1]:
import numpy as np
import pandas as pd

In [2]:
crime_raw_data = pd.read_csv(
    './data/02. crime_in_Seoul.csv', 
    thousands=',', #숫자 값이 콤마 때문에 문자로 인식되지 않도록 설정
    encoding='euc-kr'
)

crime_raw_data.head()

   구분  죄종 발생검거     건수
0  중부  살인   발생    2.0
1  중부  살인   검거    2.0
2  중부  강도   발생    3.0
3  중부  강도   검거    3.0
4  중부  강간   발생  141.0

In [3]:
crime_raw_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65534 entries, 0 to 65533
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   구분      310 non-null    object
 1   죄종      310 non-null    object
 2   발생검거    310 non-null    object
 3   건수      310 non-null    float64
dtypes: float64(1), object(3)
memory usage: 2.0+ MB

In [4]:
crime_raw_data['죄종'].unique()

array(['살인', '강도', '강간', '절도', '폭력', nan], dtype=object)

In [5]:
crime_raw_data[crime_raw_data['죄종'].isnull()] #NaN 찾아오기

        구분   죄종 발생검거  건수
310    NaN  NaN  NaN NaN
311    NaN  NaN  NaN NaN
312    NaN  NaN  NaN NaN
313    NaN  NaN  NaN NaN
314    NaN  NaN  NaN NaN
...    ...  ...  ...  ..
65529  NaN  NaN  NaN NaN
65530  NaN  NaN  NaN NaN
65531  NaN  NaN  NaN NaN
65532  NaN  NaN  NaN NaN
65533  NaN  NaN  NaN NaN

[65224 rows x 4 columns]

In [6]:
crime_raw_data = crime_raw_data[crime_raw_data['죄종'].notnull()]

In [7]:
crime_raw_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 310 entries, 0 to 309
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   구분      310 non-null    object
 1   죄종      310 non-null    object
 2   발생검거    310 non-null    object
 3   건수      310 non-null    float64
dtypes: float64(1), object(3)
memory usage: 12.1+ KB

In [8]:
crime_raw_data.head()

   구분  죄종 발생검거     건수
0  중부  살인   발생    2.0
1  중부  살인   검거    2.0
2  중부  강도   발생    3.0
3  중부  강도   검거    3.0
4  중부  강간   발생  141.0

---

In [9]:
df = pd.read_excel('./data/02. sales-funnel.xlsx')
df.head()

,Account,Name,Rep,Manager,Product,Quantity,Price,Status
0,714466,Trantow-Barrows,Craig Booker,Debra Henley,CPU,1,30000,presented
1,714466,Trantow-Barrows,Craig Booker,Debra Henley,Software,1,10000,presented
2,714466,Trantow-Barrows,Craig Booker,Debra Henley,Maintenance,2,5000,pending
3,737550,"Fritsch, Russel and Anderson",Craig Booker,Debra Henley,CPU,1,35000,declined
4,146832,Kiehn-Spinka,Daniel Hilton,Debra Henley,CPU,2,65000,won

In [10]:
!pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\administrator\.conda\envs\ds_study\lib\site-packages (3.1.2)
Requirement already satisfied: et-xmlfile in c:\users\administrator\.conda\envs\ds_study\lib\site-packages (from openpyxl) (1.1.0)

In [11]:
df = pd.read_excel('./data/02. sales-funnel.xlsx')
df.head()

,Account,Name,Rep,Manager,Product,Quantity,Price,Status
0,714466,Trantow-Barrows,Craig Booker,Debra Henley,CPU,1,30000,presented
1,714466,Trantow-Barrows,Craig Booker,Debra Henley,Software,1,10000,presented
2,714466,Trantow-Barrows,Craig Booker,Debra Henley,Maintenance,2,5000,pending
3,737550,"Fritsch, Russel and Anderson",Craig Booker,Debra Henley,CPU,1,35000,declined
4,146832,Kiehn-Spinka,Daniel Hilton,Debra Henley,CPU,2,65000,won

In [12]:
pd.pivot_table(df, index='Name')

TypeError: Could not convert John Smith to numeric

In [ ]:
cols = ["Account", "Quantity", "Price"]

pd.pivot_table(df, index=["Name"], values=cols)

In [ ]:
df.pivot_table(index=['Name'], values=cols)

In [ ]:
df.pivot_table(index=['Name', 'Rep', 'Manager'], values=cols)

In [ ]:
df.pivot_table(index=['Manager', 'Rep'], values=cols)

In [ ]:
df.pivot_table(index=['Manager', 'Rep'], values='Price')

In [ ]:
df.pivot_table(index=['Manager', 'Rep'], values='Price', aggfunc=np.sum)

In [ ]:
df.pivot_table(index=['Manager', 'Rep'], values='Price', aggfunc=[np.sum, len])

In [ ]:
df.pivot_table(index=['Manager', 'Rep'], 
               values='Price',
               columns='Product',
               aggfunc=np.sum)

In [ ]:
#NaN 값 설정 : fill_value
df.pivot_table(index=['Manager', 'Rep'], 
               values='Price',
               columns='Product',
               aggfunc=np.sum,
              fill_value=0)

In [ ]:
df.pivot_table(index=['Manager', 'Rep', 'Product'], 
               values=['Price', 'Quantity'],
               aggfunc=np.sum,
              fill_value=0)

In [ ]:
df.pivot_table(index=['Manager', 'Rep', 'Product'], 
               values=['Price', 'Quantity'],
               aggfunc=[np.sum,np.mean],
              fill_value=0,
              margins=True) #총합

---

In [ ]:
crime_raw_data.head()

In [ ]:
crime_station = crime_raw_data.pivot_table(crime_raw_data, 
                                          index='구분', 
                                           columns=['죄종', '발생검거'],
                                           aggfunc=[np.sum])
crime_station.head()

In [ ]:
crime_station.columns

In [ ]:
crime_station['sum', '건수', '강도', '검거'][:5]

In [ ]:
crime_station.columns = crime_station.columns.droplevel([0, 1]) #다중 컬럼에서 특정 컬럼 제거
crime_station.columns

In [ ]:
crime_station.head()

In [ ]:
pip list

In [ ]:
!pip list

In [ ]:
get_ipython().system('pip list')

---

In [ ]:
[n ** 2 for n in range(0, 10)]

In [ ]:
pip install googlemaps

In [ ]:
import googlemaps

In [ ]:
gmaps_key= "AIzaSyC8taujTfRGPhNGndirCPBudEpks91MAKU"
gmaps = googlemaps.Client(key=gmaps_key)

In [ ]:
gmaps.geocode("서울영등포경찰서", language="ko")

In [ ]:
import googlemaps
gmaps_key= "AIzaSyC8taujTfRGPhNGndirCPBudEpks91MAKU"
gmaps = googlemaps.Client(key=gmaps_key)

gmaps.geocode("서울영등포경찰서", language="ko")

In [ ]:
tmp = gmaps.geocode("서울영등포경찰서", language="ko")

In [ ]:
len(tmp)

In [ ]:
type(tmp[0].get('geometry')['location'])

In [ ]:
print(tmp[0].get('geometry')['location']['lat'])
print(tmp[0].get('geometry')['location']['lng'])

In [ ]:
tmp[0].get('formatted_address')

In [ ]:
tmp[0].get('formatted_address').split()[2]

In [ ]:
crime_station.head()

In [ ]:
crime_station['구별'] = np.nan

In [ ]:
crime_station.head()

In [ ]:
crime_station['lat'] = np.nan
crime_station['lng'] = np.nan
crime_station.head()

In [ ]:
count = 0

for idx, rows in crime_station.iterrows():
    station_name = "서울" + str(idx) + "경찰서"
    tmp = gmaps.geocode(station_name, language='ko')

    tmp_gu = tmp[0].get('formatted_address')
    lat = tmp[0].get('geometry')['location']['lat']
    lng = tmp[0].get('geometry')['location']['lng']

    crime_station.loc[idx, 'lat'] = lat
    crime_station.loc[idx, 'lng'] = lng
    crime_station.loc[idx, '구별'] = tmp_gu.split()[2]

    print(count)
    count += 1

In [ ]:
crime_station.head(10)

In [ ]:
crime_station.columns.get_level_values(0)[2]

In [ ]:
crime_station.columns.get_level_values(1)[2]

In [ ]:
type(crime_station.columns.get_level_values(0)[2])

In [ ]:
tmp = [
    crime_station.columns.get_level_values(0)[n] + crime_station.columns.get_level_values(1)[n]
    for n in range(0, len(crime_station.columns.get_level_values(0)))
]

tmp

In [ ]:
tmp, len(tmp), len(crime_station.columns.get_level_values(0))

In [ ]:
crime_station.columns = tmp

In [ ]:
crime_station.head()

In [ ]:
crime_station.to_csv('./data/02. crime_in_Seoul_raw.csv', sep=',', encoding='utf-8')

In [ ]:
pd.read_csv('./data/02. crime_in_Seoul_raw.csv')

---