In [18]:
import pandas as pd
import numpy as np

crime_anal_station = pd.read_csv('./data/02. crime_in_seoul_raw.csv', index_col=0, encoding='utf-8') #index_col '구분'을 인덱스 컬럼으로 설정
crime_anal_station.head()

,강간검거,강간발생,강도검거,강도발생,살인검거,살인발생,절도검거,절도발생,폭력검거,폭력발생,구별,lat,lng
구분,,,,,,,,,,,,,
강남,269.0,339.0,26.0,24.0,3.0,3.0,1129.0,2438.0,2096.0,2336.0,강남구,37.509435,127.066958
강동,152.0,160.0,13.0,14.0,5.0,4.0,902.0,1754.0,2201.0,2530.0,강동구,37.528511,127.126822
강북,159.0,217.0,4.0,5.0,6.0,7.0,672.0,1222.0,2482.0,2778.0,강북구,37.637197,127.027305
강서,239.0,275.0,10.0,10.0,10.0,9.0,1070.0,1952.0,2768.0,3204.0,강서구,37.551362,126.850280
관악,264.0,322.0,10.0,12.0,7.0,6.0,937.0,2103.0,2707.0,3235.0,관악구,37.474395,126.951349

In [19]:
crime_anal_gu = pd.pivot_table(crime_anal_station, index='구별', aggfunc=np.sum)

del crime_anal_gu['lat']
crime_anal_gu.drop('lng', axis=1, inplace=True)

crime_anal_gu.head()

      강간검거   강간발생  강도검거  강도발생  살인검거  살인발생    절도검거    절도발생    폭력검거    폭력발생
구별
강남구  413.0  516.0  42.0  39.0   5.0   5.0  1918.0  3587.0  3527.0  4002.0
강동구  152.0  160.0  13.0  14.0   5.0   4.0   902.0  1754.0  2201.0  2530.0
강북구  159.0  217.0   4.0   5.0   6.0   7.0   672.0  1222.0  2482.0  2778.0
강서구  239.0  275.0  10.0  10.0  10.0   9.0  1070.0  1952.0  2768.0  3204.0
관악구  264.0  322.0  10.0  12.0   7.0   6.0   937.0  2103.0  2707.0  3235.0

In [20]:
crime_anal_gu['강도검거'] / crime_anal_gu['강도발생'] #강도검거율

구별
강남구     1.076923
강동구     0.928571
강북구     0.800000
강서구     1.000000
관악구     0.833333
광진구     0.545455
구로구     1.300000
금천구     1.000000
노원구     1.500000
도봉구     1.000000
동대문구    1.200000
동작구     1.000000
마포구     1.750000
서대문구    0.800000
서초구     0.769231
성동구     1.666667
성북구     1.000000
송파구     0.800000
양천구     1.000000
영등포구    0.736842
용산구     1.111111
은평구     0.777778
종로구     0.750000
중구      0.875000
중랑구     1.000000
dtype: float64

In [21]:
crime_anal_gu[['강도검거', '살인검거']].div(crime_anal_gu['강도발생'], axis=0).head()

         강도검거      살인검거
구별
강남구  1.076923  0.128205
강동구  0.928571  0.357143
강북구  0.800000  1.200000
강서구  1.000000  1.000000
관악구  0.833333  0.583333

In [22]:
num = ['강간검거', '강도검거', '살인검거', '절도검거', '폭력검거']
den = ['강간발생', '강도발생', '살인발생', '절도발생', '폭력발생']

crime_anal_gu[num].div(crime_anal_gu[den].values).head()

         강간검거      강도검거      살인검거      절도검거      폭력검거
구별
강남구  0.800388  1.076923  1.000000  0.534709  0.881309
강동구  0.950000  0.928571  1.250000  0.514253  0.869960
강북구  0.732719  0.800000  0.857143  0.549918  0.893449
강서구  0.869091  1.000000  1.111111  0.548156  0.863920
관악구  0.819876  0.833333  1.166667  0.445554  0.836785

In [23]:
target = ['강간검거율', '강도검거율', '살인검거율', '절도검거율', '폭력검거율']
num = ['강간검거', '강도검거', '살인검거', '절도검거', '폭력검거']
den = ['강간발생', '강도발생', '살인발생', '절도발생', '폭력발생']

crime_anal_gu[target] = crime_anal_gu[num].div(crime_anal_gu[den].values) * 100
crime_anal_gu.head()

,강간검거,강간발생,강도검거,강도발생,살인검거,살인발생,절도검거,절도발생,폭력검거,폭력발생,강간검거율,강도검거율,살인검거율,절도검거율,폭력검거율
구별,,,,,,,,,,,,,,,
강남구,413.0,516.0,42.0,39.0,5.0,5.0,1918.0,3587.0,3527.0,4002.0,80.038760,107.692308,100.000000,53.470867,88.130935
강동구,152.0,160.0,13.0,14.0,5.0,4.0,902.0,1754.0,2201.0,2530.0,95.000000,92.857143,125.000000,51.425314,86.996047
강북구,159.0,217.0,4.0,5.0,6.0,7.0,672.0,1222.0,2482.0,2778.0,73.271889,80.000000,85.714286,54.991817,89.344852
강서구,239.0,275.0,10.0,10.0,10.0,9.0,1070.0,1952.0,2768.0,3204.0,86.909091,100.000000,111.111111,54.815574,86.392010
관악구,264.0,322.0,10.0,12.0,7.0,6.0,937.0,2103.0,2707.0,3235.0,81.987578,83.333333,116.666667,44.555397,83.678516

In [24]:
del crime_anal_gu['강간검거']
del crime_anal_gu['강도검거']
crime_anal_gu.drop(['살인검거', '절도검거', '폭력검거'], axis=1, inplace=True)
crime_anal_gu.head()

,강간발생,강도발생,살인발생,절도발생,폭력발생,강간검거율,강도검거율,살인검거율,절도검거율,폭력검거율
구별,,,,,,,,,,
강남구,516.0,39.0,5.0,3587.0,4002.0,80.038760,107.692308,100.000000,53.470867,88.130935
강동구,160.0,14.0,4.0,1754.0,2530.0,95.000000,92.857143,125.000000,51.425314,86.996047
강북구,217.0,5.0,7.0,1222.0,2778.0,73.271889,80.000000,85.714286,54.991817,89.344852
강서구,275.0,10.0,9.0,1952.0,3204.0,86.909091,100.000000,111.111111,54.815574,86.392010
관악구,322.0,12.0,6.0,2103.0,3235.0,81.987578,83.333333,116.666667,44.555397,83.678516

In [28]:
crime_anal_gu[crime_anal_gu[target] > 100] = 100
crime_anal_gu.head()

,강간발생,강도발생,살인발생,절도발생,폭력발생,강간검거율,강도검거율,살인검거율,절도검거율,폭력검거율
구별,,,,,,,,,,
강남구,516.0,39.0,5.0,3587.0,4002.0,80.038760,100.000000,100.000000,53.470867,88.130935
강동구,160.0,14.0,4.0,1754.0,2530.0,95.000000,92.857143,100.000000,51.425314,86.996047
강북구,217.0,5.0,7.0,1222.0,2778.0,73.271889,80.000000,85.714286,54.991817,89.344852
강서구,275.0,10.0,9.0,1952.0,3204.0,86.909091,100.000000,100.000000,54.815574,86.392010
관악구,322.0,12.0,6.0,2103.0,3235.0,81.987578,83.333333,100.000000,44.555397,83.678516

In [29]:
crime_anal_gu.rename(columns={"강간발생": "강간",
                              "강도발생": "강도",
                              "살인발생": "살인", 
                              "절도발생": "절도",
                              "폭력발생": "폭력"}, inplace=True)

crime_anal_gu.head()

,강간,강도,살인,절도,폭력,강간검거율,강도검거율,살인검거율,절도검거율,폭력검거율
구별,,,,,,,,,,
강남구,516.0,39.0,5.0,3587.0,4002.0,80.038760,100.000000,100.000000,53.470867,88.130935
강동구,160.0,14.0,4.0,1754.0,2530.0,95.000000,92.857143,100.000000,51.425314,86.996047
강북구,217.0,5.0,7.0,1222.0,2778.0,73.271889,80.000000,85.714286,54.991817,89.344852
강서구,275.0,10.0,9.0,1952.0,3204.0,86.909091,100.000000,100.000000,54.815574,86.392010
관악구,322.0,12.0,6.0,2103.0,3235.0,81.987578,83.333333,100.000000,44.555397,83.678516

In [34]:
crime_anal_gu.head()

,강간,강도,살인,절도,폭력,강간검거율,강도검거율,살인검거율,절도검거율,폭력검거율
구별,,,,,,,,,,
강남구,516.0,39.0,13.0,3587.0,4002.0,80.038760,100.000000,100.000000,53.470867,88.130935
강동구,516.0,39.0,13.0,3587.0,4002.0,95.000000,92.857143,100.000000,51.425314,86.996047
강북구,516.0,39.0,13.0,3587.0,4002.0,73.271889,80.000000,85.714286,54.991817,89.344852
강서구,516.0,39.0,13.0,3587.0,4002.0,86.909091,100.000000,100.000000,54.815574,86.392010
관악구,516.0,39.0,13.0,3587.0,4002.0,81.987578,83.333333,100.000000,44.555397,83.678516

In [35]:
crime_anal_gu['강도'] / crime_anal_gu['강도'].max() #정규화

구별
강남구     1.0
강동구     1.0
강북구     1.0
강서구     1.0
관악구     1.0
광진구     1.0
구로구     1.0
금천구     1.0
노원구     1.0
도봉구     1.0
동대문구    1.0
동작구     1.0
마포구     1.0
서대문구    1.0
서초구     1.0
성동구     1.0
성북구     1.0
송파구     1.0
양천구     1.0
영등포구    1.0
용산구     1.0
은평구     1.0
종로구     1.0
중구      1.0
중랑구     1.0
Name: 강도, dtype: float64

In [37]:
col = ['살인', '강도', '강간', '절도', '폭력' ]
crime_anal_norm = crime_anal_gu[col] / crime_anal_gu[col].max()
crime_anal_norm.head()https://www.youtube.com/watch?v=kwkULz0pa2U

      살인   강도   강간   절도   폭력
구별
강남구  1.0  1.0  1.0  1.0  1.0
강동구  1.0  1.0  1.0  1.0  1.0
강북구  1.0  1.0  1.0  1.0  1.0
강서구  1.0  1.0  1.0  1.0  1.0
관악구  1.0  1.0  1.0  1.0  1.0

In [38]:
crime_anal_gu.head()

,강간,강도,살인,절도,폭력,강간검거율,강도검거율,살인검거율,절도검거율,폭력검거율
구별,,,,,,,,,,
강남구,516.0,39.0,13.0,3587.0,4002.0,80.038760,100.000000,100.000000,53.470867,88.130935
강동구,516.0,39.0,13.0,3587.0,4002.0,95.000000,92.857143,100.000000,51.425314,86.996047
강북구,516.0,39.0,13.0,3587.0,4002.0,73.271889,80.000000,85.714286,54.991817,89.344852
강서구,516.0,39.0,13.0,3587.0,4002.0,86.909091,100.000000,100.000000,54.815574,86.392010
관악구,516.0,39.0,13.0,3587.0,4002.0,81.987578,83.333333,100.000000,44.555397,83.678516

In [39]:
col2 = ['강간검거율', '강도검거율', '살인검거율', '절도검거율', '폭력검거율']
crime_anal_norm[col2] = crime_anal_gu[col2]
crime_anal_norm.head()

,살인,강도,강간,절도,폭력,강간검거율,강도검거율,살인검거율,절도검거율,폭력검거율
구별,,,,,,,,,,
강남구,1.0,1.0,1.0,1.0,1.0,80.038760,100.000000,100.000000,53.470867,88.130935
강동구,1.0,1.0,1.0,1.0,1.0,95.000000,92.857143,100.000000,51.425314,86.996047
강북구,1.0,1.0,1.0,1.0,1.0,73.271889,80.000000,85.714286,54.991817,89.344852
강서구,1.0,1.0,1.0,1.0,1.0,86.909091,100.000000,100.000000,54.815574,86.392010
관악구,1.0,1.0,1.0,1.0,1.0,81.987578,83.333333,100.000000,44.555397,83.678516

In [41]:
result_CCTV = pd.read_csv('./data/01. CCTV_result.csv')
result_CCTV.head()

,구별,소계,최근증가율,인구수,한국인,외국인,고령자,외국인비율,고령자비율,CCTV 비율,오차
0,강남구,3238,150.619195,561052,556164,4888,65060,0.871220,11.596073,0.577130,1549.200326
1,강동구,1010,166.490765,440359,436223,4136,56161,0.939234,12.753458,0.229358,-544.642322
2,강북구,831,125.203252,328002,324479,3523,56530,1.074079,17.234651,0.253352,-598.750923
3,강서구,911,134.793814,608255,601691,6564,76032,1.079153,12.500021,0.149773,-830.268578
4,관악구,2109,149.290780,520929,503297,17632,70046,3.384722,13.446362,0.404854,464.799395

In [43]:
result_CCTV = pd.read_csv('./data/01. CCTV_result.csv', index_col='구별', encoding='utf-8')
result_CCTV.head()

,소계,최근증가율,인구수,한국인,외국인,고령자,외국인비율,고령자비율,CCTV 비율,오차
구별,,,,,,,,,,
강남구,3238,150.619195,561052,556164,4888,65060,0.871220,11.596073,0.577130,1549.200326
강동구,1010,166.490765,440359,436223,4136,56161,0.939234,12.753458,0.229358,-544.642322
강북구,831,125.203252,328002,324479,3523,56530,1.074079,17.234651,0.253352,-598.750923
강서구,911,134.793814,608255,601691,6564,76032,1.079153,12.500021,0.149773,-830.268578
관악구,2109,149.290780,520929,503297,17632,70046,3.384722,13.446362,0.404854,464.799395

In [45]:
crime_anal_norm[['인구수', 'CCTV']] = result_CCTV[['인구수', '소계']]
crime_anal_norm.head()

,살인,강도,강간,절도,폭력,강간검거율,강도검거율,살인검거율,절도검거율,폭력검거율,인구수,CCTV
구별,,,,,,,,,,,,
강남구,1.0,1.0,1.0,1.0,1.0,80.038760,100.000000,100.000000,53.470867,88.130935,561052,3238
강동구,1.0,1.0,1.0,1.0,1.0,95.000000,92.857143,100.000000,51.425314,86.996047,440359,1010
강북구,1.0,1.0,1.0,1.0,1.0,73.271889,80.000000,85.714286,54.991817,89.344852,328002,831
강서구,1.0,1.0,1.0,1.0,1.0,86.909091,100.000000,100.000000,54.815574,86.392010,608255,911
관악구,1.0,1.0,1.0,1.0,1.0,81.987578,83.333333,100.000000,44.555397,83.678516,520929,2109

In [46]:
col = ['살인', '강도', '강간', '절도', '폭력' ]
crime_anal_norm['범죄'] = np.mean(crime_anal_norm[col], axis=1) # numpy에서는 axis=1 : 행
crime_anal_norm.head()

,살인,강도,강간,절도,폭력,강간검거율,강도검거율,살인검거율,절도검거율,폭력검거율,인구수,CCTV,범죄
구별,,,,,,,,,,,,,
강남구,1.0,1.0,1.0,1.0,1.0,80.038760,100.000000,100.000000,53.470867,88.130935,561052,3238,1.0
강동구,1.0,1.0,1.0,1.0,1.0,95.000000,92.857143,100.000000,51.425314,86.996047,440359,1010,1.0
강북구,1.0,1.0,1.0,1.0,1.0,73.271889,80.000000,85.714286,54.991817,89.344852,328002,831,1.0
강서구,1.0,1.0,1.0,1.0,1.0,86.909091,100.000000,100.000000,54.815574,86.392010,608255,911,1.0
관악구,1.0,1.0,1.0,1.0,1.0,81.987578,83.333333,100.000000,44.555397,83.678516,520929,2109,1.0

---

In [47]:
col = ['강간검거율', '강도검거율', '살인검거율', '절도검거율', '폭력검거율']
crime_anal_norm['검거'] = np.mean(crime_anal_norm[col], axis=1)
crime_anal_norm.head()

,살인,강도,강간,절도,폭력,강간검거율,강도검거율,살인검거율,절도검거율,폭력검거율,인구수,CCTV,범죄,검거
구별,,,,,,,,,,,,,,
강남구,1.0,1.0,1.0,1.0,1.0,80.038760,100.000000,100.000000,53.470867,88.130935,561052,3238,1.0,84.328112
강동구,1.0,1.0,1.0,1.0,1.0,95.000000,92.857143,100.000000,51.425314,86.996047,440359,1010,1.0,85.255701
강북구,1.0,1.0,1.0,1.0,1.0,73.271889,80.000000,85.714286,54.991817,89.344852,328002,831,1.0,76.664569
강서구,1.0,1.0,1.0,1.0,1.0,86.909091,100.000000,100.000000,54.815574,86.392010,608255,911,1.0,85.623335
관악구,1.0,1.0,1.0,1.0,1.0,81.987578,83.333333,100.000000,44.555397,83.678516,520929,2109,1.0,78.710965