In [1]:
import numpy as np
import pandas as pd

In [2]:
crime_raw_data = pd.read_csv(
    './data/02. crime_in_Seoul.csv', 
    thousands=',', #숫자 값이 콤마 때문에 문자로 인식되지 않도록 설정
    encoding='euc-kr'
)

crime_raw_data.head()

   구분  죄종 발생검거     건수
0  중부  살인   발생    2.0
1  중부  살인   검거    2.0
2  중부  강도   발생    3.0
3  중부  강도   검거    3.0
4  중부  강간   발생  141.0

In [3]:
crime_raw_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65534 entries, 0 to 65533
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   구분      310 non-null    object
 1   죄종      310 non-null    object
 2   발생검거    310 non-null    object
 3   건수      310 non-null    float64
dtypes: float64(1), object(3)
memory usage: 2.0+ MB

In [4]:
crime_raw_data['죄종'].unique()

array(['살인', '강도', '강간', '절도', '폭력', nan], dtype=object)

In [5]:
crime_raw_data[crime_raw_data['죄종'].isnull()] #NaN 찾아오기

        구분   죄종 발생검거  건수
310    NaN  NaN  NaN NaN
311    NaN  NaN  NaN NaN
312    NaN  NaN  NaN NaN
313    NaN  NaN  NaN NaN
314    NaN  NaN  NaN NaN
...    ...  ...  ...  ..
65529  NaN  NaN  NaN NaN
65530  NaN  NaN  NaN NaN
65531  NaN  NaN  NaN NaN
65532  NaN  NaN  NaN NaN
65533  NaN  NaN  NaN NaN

[65224 rows x 4 columns]

In [6]:
crime_raw_data = crime_raw_data[crime_raw_data['죄종'].notnull()]

In [7]:
crime_raw_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 310 entries, 0 to 309
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   구분      310 non-null    object
 1   죄종      310 non-null    object
 2   발생검거    310 non-null    object
 3   건수      310 non-null    float64
dtypes: float64(1), object(3)
memory usage: 12.1+ KB

In [8]:
crime_raw_data.head()

   구분  죄종 발생검거     건수
0  중부  살인   발생    2.0
1  중부  살인   검거    2.0
2  중부  강도   발생    3.0
3  중부  강도   검거    3.0
4  중부  강간   발생  141.0

---

In [9]:
df = pd.read_excel('./data/02. sales-funnel.xlsx')
df.head()

,Account,Name,Rep,Manager,Product,Quantity,Price,Status
0,714466,Trantow-Barrows,Craig Booker,Debra Henley,CPU,1,30000,presented
1,714466,Trantow-Barrows,Craig Booker,Debra Henley,Software,1,10000,presented
2,714466,Trantow-Barrows,Craig Booker,Debra Henley,Maintenance,2,5000,pending
3,737550,"Fritsch, Russel and Anderson",Craig Booker,Debra Henley,CPU,1,35000,declined
4,146832,Kiehn-Spinka,Daniel Hilton,Debra Henley,CPU,2,65000,won

In [10]:
!pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\administrator\.conda\envs\ds_study\lib\site-packages (3.1.2)
Requirement already satisfied: et-xmlfile in c:\users\administrator\.conda\envs\ds_study\lib\site-packages (from openpyxl) (1.1.0)

In [11]:
df = pd.read_excel('./data/02. sales-funnel.xlsx')
df.head()

,Account,Name,Rep,Manager,Product,Quantity,Price,Status
0,714466,Trantow-Barrows,Craig Booker,Debra Henley,CPU,1,30000,presented
1,714466,Trantow-Barrows,Craig Booker,Debra Henley,Software,1,10000,presented
2,714466,Trantow-Barrows,Craig Booker,Debra Henley,Maintenance,2,5000,pending
3,737550,"Fritsch, Russel and Anderson",Craig Booker,Debra Henley,CPU,1,35000,declined
4,146832,Kiehn-Spinka,Daniel Hilton,Debra Henley,CPU,2,65000,won

In [12]:
pd.pivot_table(df, index='Name')

TypeError: Could not convert John Smith to numeric

In [13]:
cols = ["Account", "Quantity", "Price"]

pd.pivot_table(df, index=["Name"], values=cols)

                              Account   Price  Quantity
Name
Barton LLC                     740150   35000  1.000000
Fritsch, Russel and Anderson   737550   35000  1.000000
Herman LLC                     141962   65000  2.000000
Jerde-Hilpert                  412290    5000  2.000000
Kassulke, Ondricka and Metz    307599    7000  3.000000
Keeling LLC                    688981  100000  5.000000
Kiehn-Spinka                   146832   65000  2.000000
Koepp Ltd                      729833   35000  2.000000
Kulas Inc                      218895   25000  1.500000
Purdy-Kunde                    163416   30000  1.000000
Stokes LLC                     239344    7500  1.000000
Trantow-Barrows                714466   15000  1.333333

In [14]:
df.pivot_table(index=['Name'], values=cols)

                              Account   Price  Quantity
Name
Barton LLC                     740150   35000  1.000000
Fritsch, Russel and Anderson   737550   35000  1.000000
Herman LLC                     141962   65000  2.000000
Jerde-Hilpert                  412290    5000  2.000000
Kassulke, Ondricka and Metz    307599    7000  3.000000
Keeling LLC                    688981  100000  5.000000
Kiehn-Spinka                   146832   65000  2.000000
Koepp Ltd                      729833   35000  2.000000
Kulas Inc                      218895   25000  1.500000
Purdy-Kunde                    163416   30000  1.000000
Stokes LLC                     239344    7500  1.000000
Trantow-Barrows                714466   15000  1.333333

In [15]:
df.pivot_table(index=['Name', 'Rep', 'Manager'], values=cols)

,,,Account,Price,Quantity
Name,Rep,Manager,,,
Barton LLC,John Smith,Debra Henley,740150,35000,1.000000
"Fritsch, Russel and Anderson",Craig Booker,Debra Henley,737550,35000,1.000000
Herman LLC,Cedric Moss,Fred Anderson,141962,65000,2.000000
Jerde-Hilpert,John Smith,Debra Henley,412290,5000,2.000000
"Kassulke, Ondricka and Metz",Wendy Yule,Fred Anderson,307599,7000,3.000000
Keeling LLC,Wendy Yule,Fred Anderson,688981,100000,5.000000
Kiehn-Spinka,Daniel Hilton,Debra Henley,146832,65000,2.000000
Koepp Ltd,Wendy Yule,Fred Anderson,729833,35000,2.000000
Kulas Inc,Daniel Hilton,Debra Henley,218895,25000,1.500000
Purdy-Kunde,Cedric Moss,Fred Anderson,163416,30000,1.000000
Stokes LLC,Cedric Moss,Fred Anderson,239344,7500,1.000000
Trantow-Barrows,Craig Booker,Debra Henley,714466,15000,1.333333

In [16]:
df.pivot_table(index=['Manager', 'Rep'], values=cols)

                              Account         Price  Quantity
Manager       Rep
Debra Henley  Craig Booker   720237.0  20000.000000  1.250000
              Daniel Hilton  194874.0  38333.333333  1.666667
              John Smith     576220.0  20000.000000  1.500000
Fred Anderson Cedric Moss    196016.5  27500.000000  1.250000
              Wendy Yule     614061.5  44250.000000  3.000000

In [17]:
df.pivot_table(index=['Manager', 'Rep'], values='Price')

                                    Price
Manager       Rep
Debra Henley  Craig Booker   20000.000000
              Daniel Hilton  38333.333333
              John Smith     20000.000000
Fred Anderson Cedric Moss    27500.000000
              Wendy Yule     44250.000000

In [18]:
df.pivot_table(index=['Manager', 'Rep'], values='Price', aggfunc=np.sum)

                              Price
Manager       Rep
Debra Henley  Craig Booker    80000
              Daniel Hilton  115000
              John Smith      40000
Fred Anderson Cedric Moss    110000
              Wendy Yule     177000

In [19]:
df.pivot_table(index=['Manager', 'Rep'], values='Price', aggfunc=[np.sum, len])

                                sum   len
                              Price Price
Manager       Rep
Debra Henley  Craig Booker    80000     4
              Daniel Hilton  115000     3
              John Smith      40000     2
Fred Anderson Cedric Moss    110000     4
              Wendy Yule     177000     4

In [20]:
df.pivot_table(index=['Manager', 'Rep'], 
               values='Price',
               columns='Product',
               aggfunc=np.sum)

Product                           CPU  Maintenance  Monitor  Software
Manager       Rep
Debra Henley  Craig Booker    65000.0       5000.0      NaN   10000.0
              Daniel Hilton  105000.0          NaN      NaN   10000.0
              John Smith      35000.0       5000.0      NaN       NaN
Fred Anderson Cedric Moss     95000.0       5000.0      NaN   10000.0
              Wendy Yule     165000.0       7000.0   5000.0       NaN

In [21]:
#NaN 값 설정 : fill_value
df.pivot_table(index=['Manager', 'Rep'], 
               values='Price',
               columns='Product',
               aggfunc=np.sum,
              fill_value=0)

Product                         CPU  Maintenance  Monitor  Software
Manager       Rep
Debra Henley  Craig Booker    65000         5000        0     10000
              Daniel Hilton  105000            0        0     10000
              John Smith      35000         5000        0         0
Fred Anderson Cedric Moss     95000         5000        0     10000
              Wendy Yule     165000         7000     5000         0

In [22]:
df.pivot_table(index=['Manager', 'Rep', 'Product'], 
               values=['Price', 'Quantity'],
               aggfunc=np.sum,
              fill_value=0)

                                          Price  Quantity
Manager       Rep           Product
Debra Henley  Craig Booker  CPU           65000         2
                            Maintenance    5000         2
                            Software      10000         1
              Daniel Hilton CPU          105000         4
                            Software      10000         1
              John Smith    CPU           35000         1
                            Maintenance    5000         2
Fred Anderson Cedric Moss   CPU           95000         3
                            Maintenance    5000         1
                            Software      10000         1
              Wendy Yule    CPU          165000         7
                            Maintenance    7000         3
                            Monitor        5000         2

In [23]:
df.pivot_table(index=['Manager', 'Rep', 'Product'], 
               values=['Price', 'Quantity'],
               aggfunc=[np.sum,np.mean],
              fill_value=0,
              margins=True) #총합

                                            sum                   mean  \
                                          Price Quantity         Price
Manager       Rep           Product
Debra Henley  Craig Booker  CPU           65000        2  32500.000000
                            Maintenance    5000        2   5000.000000
                            Software      10000        1  10000.000000
              Daniel Hilton CPU          105000        4  52500.000000
                            Software      10000        1  10000.000000
              John Smith    CPU           35000        1  35000.000000
                            Maintenance    5000        2   5000.000000
Fred Anderson Cedric Moss   CPU           95000        3  47500.000000
                            Maintenance    5000        1   5000.000000
                            Software      10000        1  10000.000000
              Wendy Yule    CPU          165000        7  82500.000000
                            Maintenance    7000        3   7000.000000
                            Monitor        5000        2   5000.000000
All                                      522000       30  30705.882353


                                         Quantity
Manager       Rep           Product
Debra Henley  Craig Booker  CPU          1.000000
                            Maintenance  2.000000
                            Software     1.000000
              Daniel Hilton CPU          2.000000
                            Software     1.000000
              John Smith    CPU          1.000000
                            Maintenance  2.000000
Fred Anderson Cedric Moss   CPU          1.500000
                            Maintenance  1.000000
                            Software     1.000000
              Wendy Yule    CPU          3.500000
                            Maintenance  3.000000
                            Monitor      2.000000
All                                      1.764706

---

In [24]:
crime_raw_data.head()

   구분  죄종 발생검거     건수
0  중부  살인   발생    2.0
1  중부  살인   검거    2.0
2  중부  강도   발생    3.0
3  중부  강도   검거    3.0
4  중부  강간   발생  141.0

In [25]:
crime_station = crime_raw_data.pivot_table(crime_raw_data, 
                                          index='구분', 
                                           columns=['죄종', '발생검거'],
                                           aggfunc=[np.sum])
crime_station.head()

        sum
         건수
죄종       강간           강도          살인           절도              폭력
발생검거     검거     발생    검거    발생    검거   발생      검거      발생      검거      발생
구분
강남    269.0  339.0  26.0  24.0   3.0  3.0  1129.0  2438.0  2096.0  2336.0
강동    152.0  160.0  13.0  14.0   5.0  4.0   902.0  1754.0  2201.0  2530.0
강북    159.0  217.0   4.0   5.0   6.0  7.0   672.0  1222.0  2482.0  2778.0
강서    239.0  275.0  10.0  10.0  10.0  9.0  1070.0  1952.0  2768.0  3204.0
관악    264.0  322.0  10.0  12.0   7.0  6.0   937.0  2103.0  2707.0  3235.0

In [26]:
crime_station.columns

MultiIndex([('sum', '건수', '강간', '검거'),
            ('sum', '건수', '강간', '발생'),
            ('sum', '건수', '강도', '검거'),
            ('sum', '건수', '강도', '발생'),
            ('sum', '건수', '살인', '검거'),
            ('sum', '건수', '살인', '발생'),
            ('sum', '건수', '절도', '검거'),
            ('sum', '건수', '절도', '발생'),
            ('sum', '건수', '폭력', '검거'),
            ('sum', '건수', '폭력', '발생')],
           names=[None, None, '죄종', '발생검거'])

In [27]:
crime_station['sum', '건수', '강도', '검거'][:5]

구분
강남    26.0
강동    13.0
강북     4.0
강서    10.0
관악    10.0
Name: (sum, 건수, 강도, 검거), dtype: float64

In [28]:
crime_station.columns = crime_station.columns.droplevel([0, 1]) #다중 컬럼에서 특정 컬럼 제거
crime_station.columns

MultiIndex([('강간', '검거'),
            ('강간', '발생'),
            ('강도', '검거'),
            ('강도', '발생'),
            ('살인', '검거'),
            ('살인', '발생'),
            ('절도', '검거'),
            ('절도', '발생'),
            ('폭력', '검거'),
            ('폭력', '발생')],
           names=['죄종', '발생검거'])

In [29]:
crime_station.head()

죄종       강간           강도          살인           절도              폭력
발생검거     검거     발생    검거    발생    검거   발생      검거      발생      검거      발생
구분
강남    269.0  339.0  26.0  24.0   3.0  3.0  1129.0  2438.0  2096.0  2336.0
강동    152.0  160.0  13.0  14.0   5.0  4.0   902.0  1754.0  2201.0  2530.0
강북    159.0  217.0   4.0   5.0   6.0  7.0   672.0  1222.0  2482.0  2778.0
강서    239.0  275.0  10.0  10.0  10.0  9.0  1070.0  1952.0  2768.0  3204.0
관악    264.0  322.0  10.0  12.0   7.0  6.0   937.0  2103.0  2707.0  3235.0

In [30]:
pip list

Package                   Version
------------------------- ---------------
anyio                     4.2.0
argon2-cffi               21.3.0
argon2-cffi-bindings      21.2.0
arrow                     1.3.0
asttokens                 2.0.5
async-lru                 2.0.4
attrs                     23.1.0
Babel                     2.11.0
backcall                  0.2.0
beautifulsoup4            4.12.2
bleach                    4.1.0
Bottleneck                1.3.5
Brotli                    1.0.9
certifi                   2023.11.17
cffi                      1.16.0
charset-normalizer        2.0.4
colorama                  0.4.6
comm                      0.1.2
contourpy                 1.0.5
cryptography              41.0.7
cycler                    0.11.0
debugpy                   1.6.7
decorator                 5.1.1
defusedxml                0.7.1
et-xmlfile                1.1.0
exceptiongroup            1.2.0
executing                 0.8.3
fastjsonschema            2.16.2
fonttools                 4.25.0
fqdn                      1.5.1
idna                      3.4
import-ipynb              0.1.4
importlib-metadata        7.0.1
importlib-resources       6.1.1
ipykernel                 6.28.0
ipython                   8.12.2
ipywidgets                8.0.4
isoduration               20.11.0
jedi                      0.18.1
Jinja2                    3.1.3
joblib                    1.2.0
json5                     0.9.6
jsonpointer               2.4
jsonschema                4.19.2
jsonschema-specifications 2023.7.1
jupyter                   1.0.0
jupyter_client            8.6.0
jupyter-console           6.6.3
jupyter_core              5.5.0
jupyter-events            0.8.0
jupyter-lsp               2.2.0
jupyter_server            2.10.0
jupyter_server_terminals  0.4.4
jupyterlab                4.0.11
jupyterlab-pygments       0.1.2
jupyterlab_server         2.25.1
jupyterlab-widgets        3.0.9
jupyterthemes             0.20.0
kiwisolver                1.4.4
lesscpy                   0.15.1
MarkupSafe                2.1.3
matplotlib                3.7.2
matplotlib-inline         0.1.6
mistune                   2.0.4
mkl-fft                   1.3.8
mkl-random                1.2.4
mkl-service               2.4.0
munkres                   1.1.4
nbclient                  0.8.0
nbconvert                 7.10.0
nbformat                  5.9.2
nest-asyncio              1.5.6
notebook                  7.0.6
notebook_shim             0.2.3
numexpr                   2.8.4
numpy                     1.24.3
openpyxl                  3.1.2
overrides                 7.4.0
packaging                 23.1
pandas                    2.0.3
pandocfilters             1.5.0
parso                     0.8.3
pickleshare               0.7.5
Pillow                    10.0.1
pip                       23.3.1
pkgutil_resolve_name      1.3.10
platformdirs              3.10.0
ply                       3.11
pooch                     1.7.0
prometheus-client         0.14.1
prompt-toolkit            3.0.43
psutil                    5.9.0
pure-eval                 0.2.2
pycparser                 2.21
Pygments                  2.15.1
pyOpenSSL                 23.2.0
pyparsing                 3.0.9
PyQt5                     5.15.10
PyQt5-sip                 12.13.0
PySocks                   1.7.1
python-dateutil           2.8.2
python-json-logger        2.0.7
pytz                      2023.3.post1
pywin32                   305.1
pywinpty                  2.0.10
PyYAML                    6.0.1
pyzmq                     25.1.2
qtconsole                 5.5.0
QtPy                      2.4.1
referencing               0.30.2
requests                  2.31.0
rfc3339-validator         0.1.4
rfc3986-validator         0.1.1
rpds-py                   0.10.6
scikit-learn              1.3.0
scipy                     1.10.1
seaborn                   0.12.2
Send2Trash                1.8.2
setuptools                68.2.2
sip                       6.7.12
six                       1.16.0
sniffio                   1.3.0
soupsieve                 2.5
stack-data                0.2.0
terminado                 0.17.1
threadpoolctl             2.2.0
tinycss2                  1.2.1
tomli                     2.0.1
tornado                   6.3.3
traitlets                 5.7.1
types-python-dateutil     2.8.19.20240106
typing_extensions         4.9.0
tzdata                    2023.3
uri-template              1.3.0
urllib3                   1.26.18
wcwidth                   0.2.5
webcolors                 1.13
webencodings              0.5.1
websocket-client          0.58.0
wheel                     0.41.2
widgetsnbextension        4.0.5
win-inet-pton             1.1.0
xlrd                      2.0.1
zipp                      3.17.0
Note: you may need to restart the kernel to use updated packages.

In [31]:
!pip list

Package                   Version
------------------------- ---------------
anyio                     4.2.0
argon2-cffi               21.3.0
argon2-cffi-bindings      21.2.0
arrow                     1.3.0
asttokens                 2.0.5
async-lru                 2.0.4
attrs                     23.1.0
Babel                     2.11.0
backcall                  0.2.0
beautifulsoup4            4.12.2
bleach                    4.1.0
Bottleneck                1.3.5
Brotli                    1.0.9
certifi                   2023.11.17
cffi                      1.16.0
charset-normalizer        2.0.4
colorama                  0.4.6
comm                      0.1.2
contourpy                 1.0.5
cryptography              41.0.7
cycler                    0.11.0
debugpy                   1.6.7
decorator                 5.1.1
defusedxml                0.7.1
et-xmlfile                1.1.0
exceptiongroup            1.2.0
executing                 0.8.3
fastjsonschema            2.16.2
fonttools                 4.25.0
fqdn                      1.5.1
idna                      3.4
import-ipynb              0.1.4
importlib-metadata        7.0.1
importlib-resources       6.1.1
ipykernel                 6.28.0
ipython                   8.12.2
ipywidgets                8.0.4
isoduration               20.11.0
jedi                      0.18.1
Jinja2                    3.1.3
joblib                    1.2.0
json5                     0.9.6
jsonpointer               2.4
jsonschema                4.19.2
jsonschema-specifications 2023.7.1
jupyter                   1.0.0
jupyter_client            8.6.0
jupyter-console           6.6.3
jupyter_core              5.5.0
jupyter-events            0.8.0
jupyter-lsp               2.2.0
jupyter_server            2.10.0
jupyter_server_terminals  0.4.4
jupyterlab                4.0.11
jupyterlab-pygments       0.1.2
jupyterlab_server         2.25.1
jupyterlab-widgets        3.0.9
jupyterthemes             0.20.0
kiwisolver                1.4.4
lesscpy                   0.15.1
MarkupSafe                2.1.3
matplotlib                3.7.2
matplotlib-inline         0.1.6
mistune                   2.0.4
mkl-fft                   1.3.8
mkl-random                1.2.4
mkl-service               2.4.0
munkres                   1.1.4
nbclient                  0.8.0
nbconvert                 7.10.0
nbformat                  5.9.2
nest-asyncio              1.5.6
notebook                  7.0.6
notebook_shim             0.2.3
numexpr                   2.8.4
numpy                     1.24.3
openpyxl                  3.1.2
overrides                 7.4.0
packaging                 23.1
pandas                    2.0.3
pandocfilters             1.5.0
parso                     0.8.3
pickleshare               0.7.5
Pillow                    10.0.1
pip                       23.3.1
pkgutil_resolve_name      1.3.10
platformdirs              3.10.0
ply                       3.11
pooch                     1.7.0
prometheus-client         0.14.1
prompt-toolkit            3.0.43
psutil                    5.9.0
pure-eval                 0.2.2
pycparser                 2.21
Pygments                  2.15.1
pyOpenSSL                 23.2.0
pyparsing                 3.0.9
PyQt5                     5.15.10
PyQt5-sip                 12.13.0
PySocks                   1.7.1
python-dateutil           2.8.2
python-json-logger        2.0.7
pytz                      2023.3.post1
pywin32                   305.1
pywinpty                  2.0.10
PyYAML                    6.0.1
pyzmq                     25.1.2
qtconsole                 5.5.0
QtPy                      2.4.1
referencing               0.30.2
requests                  2.31.0
rfc3339-validator         0.1.4
rfc3986-validator         0.1.1
rpds-py                   0.10.6
scikit-learn              1.3.0
scipy                     1.10.1
seaborn                   0.12.2
Send2Trash                1.8.2
setuptools                68.2.2
sip                       6.7.12
six                       1.16.0
sniffio                   1.3.0
soupsieve                 2.5
stack-data                0.2.0
terminado                 0.17.1
threadpoolctl             2.2.0
tinycss2                  1.2.1
tomli                     2.0.1
tornado                   6.3.3
traitlets                 5.7.1
types-python-dateutil     2.8.19.20240106
typing_extensions         4.9.0
tzdata                    2023.3
uri-template              1.3.0
urllib3                   1.26.18
wcwidth                   0.2.5
webcolors                 1.13
webencodings              0.5.1
websocket-client          0.58.0
wheel                     0.41.2
widgetsnbextension        4.0.5
win-inet-pton             1.1.0
xlrd                      2.0.1
zipp                      3.17.0

In [32]:
get_ipython().system('pip list')

Package                   Version
------------------------- ---------------
anyio                     4.2.0
argon2-cffi               21.3.0
argon2-cffi-bindings      21.2.0
arrow                     1.3.0
asttokens                 2.0.5
async-lru                 2.0.4
attrs                     23.1.0
Babel                     2.11.0
backcall                  0.2.0
beautifulsoup4            4.12.2
bleach                    4.1.0
Bottleneck                1.3.5
Brotli                    1.0.9
certifi                   2023.11.17
cffi                      1.16.0
charset-normalizer        2.0.4
colorama                  0.4.6
comm                      0.1.2
contourpy                 1.0.5
cryptography              41.0.7
cycler                    0.11.0
debugpy                   1.6.7
decorator                 5.1.1
defusedxml                0.7.1
et-xmlfile                1.1.0
exceptiongroup            1.2.0
executing                 0.8.3
fastjsonschema            2.16.2
fonttools                 4.25.0
fqdn                      1.5.1
idna                      3.4
import-ipynb              0.1.4
importlib-metadata        7.0.1
importlib-resources       6.1.1
ipykernel                 6.28.0
ipython                   8.12.2
ipywidgets                8.0.4
isoduration               20.11.0
jedi                      0.18.1
Jinja2                    3.1.3
joblib                    1.2.0
json5                     0.9.6
jsonpointer               2.4
jsonschema                4.19.2
jsonschema-specifications 2023.7.1
jupyter                   1.0.0
jupyter_client            8.6.0
jupyter-console           6.6.3
jupyter_core              5.5.0
jupyter-events            0.8.0
jupyter-lsp               2.2.0
jupyter_server            2.10.0
jupyter_server_terminals  0.4.4
jupyterlab                4.0.11
jupyterlab-pygments       0.1.2
jupyterlab_server         2.25.1
jupyterlab-widgets        3.0.9
jupyterthemes             0.20.0
kiwisolver                1.4.4
lesscpy                   0.15.1
MarkupSafe                2.1.3
matplotlib                3.7.2
matplotlib-inline         0.1.6
mistune                   2.0.4
mkl-fft                   1.3.8
mkl-random                1.2.4
mkl-service               2.4.0
munkres                   1.1.4
nbclient                  0.8.0
nbconvert                 7.10.0
nbformat                  5.9.2
nest-asyncio              1.5.6
notebook                  7.0.6
notebook_shim             0.2.3
numexpr                   2.8.4
numpy                     1.24.3
openpyxl                  3.1.2
overrides                 7.4.0
packaging                 23.1
pandas                    2.0.3
pandocfilters             1.5.0
parso                     0.8.3
pickleshare               0.7.5
Pillow                    10.0.1
pip                       23.3.1
pkgutil_resolve_name      1.3.10
platformdirs              3.10.0
ply                       3.11
pooch                     1.7.0
prometheus-client         0.14.1
prompt-toolkit            3.0.43
psutil                    5.9.0
pure-eval                 0.2.2
pycparser                 2.21
Pygments                  2.15.1
pyOpenSSL                 23.2.0
pyparsing                 3.0.9
PyQt5                     5.15.10
PyQt5-sip                 12.13.0
PySocks                   1.7.1
python-dateutil           2.8.2
python-json-logger        2.0.7
pytz                      2023.3.post1
pywin32                   305.1
pywinpty                  2.0.10
PyYAML                    6.0.1
pyzmq                     25.1.2
qtconsole                 5.5.0
QtPy                      2.4.1
referencing               0.30.2
requests                  2.31.0
rfc3339-validator         0.1.4
rfc3986-validator         0.1.1
rpds-py                   0.10.6
scikit-learn              1.3.0
scipy                     1.10.1
seaborn                   0.12.2
Send2Trash                1.8.2
setuptools                68.2.2
sip                       6.7.12
six                       1.16.0
sniffio                   1.3.0
soupsieve                 2.5
stack-data                0.2.0
terminado                 0.17.1
threadpoolctl             2.2.0
tinycss2                  1.2.1
tomli                     2.0.1
tornado                   6.3.3
traitlets                 5.7.1
types-python-dateutil     2.8.19.20240106
typing_extensions         4.9.0
tzdata                    2023.3
uri-template              1.3.0
urllib3                   1.26.18
wcwidth                   0.2.5
webcolors                 1.13
webencodings              0.5.1
websocket-client          0.58.0
wheel                     0.41.2
widgetsnbextension        4.0.5
win-inet-pton             1.1.0
xlrd                      2.0.1
zipp                      3.17.0

---

In [33]:
[n ** 2 for n in range(0, 10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [35]:
pip install googlemaps

Collecting googlemaps
  Downloading googlemaps-4.10.0.tar.gz (33 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Requirement already satisfied: requests<3.0,>=2.20.0 in c:\users\administrator\.conda\envs\ds_study\lib\site-packages (from googlemaps) (2.31.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\administrator\.conda\envs\ds_study\lib\site-packages (from requests<3.0,>=2.20.0->googlemaps) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\administrator\.conda\envs\ds_study\lib\site-packages (from requests<3.0,>=2.20.0->googlemaps) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\administrator\.conda\envs\ds_study\lib\site-packages (from requests<3.0,>=2.20.0->googlemaps) (1.26.18)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\administrator\.conda\envs\ds_study\lib\site-packages (from requests<3.0,>=2.20.0->googlemaps) (2023.11.17)
Building wheels for collected packages: googlemaps
  Building wheel for googlemaps (setup.py): started
  Building wheel for googlemaps (setup.py): finished with status 'done'
  Created wheel for googlemaps: filename=googlemaps-4.10.0-py3-none-any.whl size=40746 sha256=141b30f848616350fe0c9f60fb9becaf902120fcc81f12dd95d5c36d795590ce
  Stored in directory: c:\users\administrator\appdata\local\pip\cache\wheels\18\8a\74\69684f55a6b3e396f2b8e129f98b576cb02d6bebe66a0c3999
Successfully built googlemaps
Installing collected packages: googlemaps
Successfully installed googlemaps-4.10.0
Note: you may need to restart the kernel to use updated packages.

In [36]:
import googlemaps

In [37]:
gmaps_key= "AIzaSyDmJzezN3W6GDp3ud_w8mRF_CcGRjg1Vns"
gmaps = googlemaps.Client(key=gmaps_key)

In [40]:
gmaps.geocode("서울중부경찰서", language="ko")

ApiError: REQUEST_DENIED (The provided API key is invalid. )