In [4]:
#Tuple
students = ('홍길동', '박찬호', '이용규', '박승철', '김지은')
numbers = (10, 20, 30, 40, 50, 60, 70)
str = (3.14, '십', 20 , 'one', '3.141592')
datas = (10, 20, 30, (40, 50, 60))

print(f'type(students) : {type(students)}')

type(students) : <class 'tuple'>

In [6]:
students[1] = '홍홍홍' #수정 불가

TypeError: 'tuple' object does not support item assignment

In [9]:
students = ('홍길동', '박찬호', '이용규', '박승철', '김지은')
for i in range(len(students)):
    print('students{} :{}'.format(i + 1, students[i]))

students1 :홍길동
students2 :박찬호
students3 :이용규
students4 :박승철
students5 :김지은

In [13]:
# in, not in

students = ('홍길동', '박찬호', '이용규', '박승철', '김지은')

searchName = input('학생 이름 입력: ')
if searchName in students:
    print('{} 학생은 우리반 학생입니다.'.format(searchName))

else:
    print('{} 학생은 우리반 학생이 아닙니다.'.format(searchName))

학생 이름 입력:  박찬호

박찬호 학생은 우리반 학생입니다

In [17]:
import random

randomNumbers = random.sample(range(1, 11), 5)

userNumber = int(input('숫자 입력(확률 50%): '))
if userNumber in randomNumbers:
                 print('빙고!')
else:
                 print('다음 기회에')

print('randomNumbers: {}'.format(randomNumbers))
print('usernumbers: {}'.format(userNumber))

숫자 입력(확률 50%):  7

빙고!
randomNumbers: [3, 6, 2, 1, 7]
usernumbers: 7

In [19]:
#튜플 결합
studentsTuple1 = ('홍길동', '박찬호', '이용규')
studentsTuple2 = ('박승철', '김지은', '강호동')
studentsTuple3 = studentsTuple1 + studentsTuple2

print('studentsTuple3: {}'.format(studentsTuple3))

studentsTuple3: ('홍길동', '박찬호', '이용규', '박승철', '김지은', '강호동')

In [20]:
# extend()   (X)
studentsTuple1 = ('홍길동', '박찬호', '이용규')
studentsTuple2 = ('박승철', '김지은', '강호동')
studentsTuple1.extend(studentsTuple2)

print('studentsTuple1: {}'.format(studentsTuple1))

AttributeError: 'tuple' object has no attribute 'extend'

In [22]:
#괄호 안 해도 됨
students = '홍길동', '박찬호', '이용규', '박승철', '김지은'
print('type(students): {}'.format(type(students)))

type(students): <class 'tuple'>

In [24]:
studentsCnts = (1, 19), (2, 20), (3, 22), (4, 18), (5, 21)
for classNo, cnt in studentsCnts:
    print('{}학급 학생 수: {}'.format(classNo, cnt))

1학급 학생 수: 19
2학급 학생 수: 20
3학급 학생 수: 22
4학급 학생 수: 18
5학급 학생 수: 21

In [25]:
minScore = 60
korScore = int(input('국어 점수: '))
engScore = int(input('영어 점수: '))
matScore = int(input('수학 점수: '))
sciScore = int(input('과학 점수: '))
hisScore = int(input('국사 점수: '))

scores = ('국어',korScore), ('영어', engScore), ('수학', matScore), ('과학', sciScore), ('국사', hisScore)

for subject, score in scores:
    if score < minScore:
        print('과락 과목: {}, 점수: {}'.format(subject, score))

국어 점수:  80
영어 점수:  59
수학 점수:  66
과학 점수:  70
국사 점수:  50

과락 과목: 영어, 점수: 59
과락 과목: 국사, 점수: 50