In [4]:
list_ = [1, 2, 3, 4, 5, 5] 
tuple_ = (1, 2, 3,4 ,5)
dic_ = {'kor': 88, 'eng': 91, 'mat': 100}
set_ = {100, 150, 90, 110}

print(list_)
print(type(list_))
for i in list_:
    print(i)

print('')
print(tuple_)
print(type(tuple_))
for i in tuple_:
    print(i)

print('')

print(dic_)
print(type(dic_))
for i in dic_:
    print(i)

print('')

print(set_)
print(type(set_))
for i in set_:
    print(i)

print('')

[1, 2, 3, 4, 5, 5]
<class 'list'>
1
2
3
4
5
5

(1, 2, 3, 4, 5)
<class 'tuple'>
1
2
3
4
5

{'kor': 88, 'eng': 91, 'mat': 100}
<class 'dict'>
kor
eng
mat

{90, 110, 100, 150}
<class 'set'>
90
110
100
150

In [8]:
list_ = [1, 2, 3, 4, 5, 5] 
print(list_[0])
print(list_[1])
print(list_[2])
print(list_[3])
print(list_[-1])
print(list_[:])

1
2
3
4
5
[1, 2, 3, 4, 5, 5]

In [11]:
list_ = [1, 2, 3, 4, 5, 5] 
print(f'len(list_): {len(list_)}')  #레퍼런스 변수

len(list_): 6

In [12]:
list_ = [1, 2, 3, 4, 5, 5] 
for i in range(len(list_)):
    print(list_[i])

1
2
3
4
5
5

In [16]:
minScore = 60
scores = [
    ['국어', 58],
    ['영어', 77],
    ['수학', 89],
    ['과학', 99],
    ['국사', 50]]

for item in scores:
    if item[1] < minScore:
        print('과락 과목: {}, 점수: {}'.format(item[0], item[1]))

과락 과목: 국어, 점수: 58
과락 과목: 국사, 점수: 50

In [19]:
sports = ['농구', '축구', '수구', '마라톤', '테니스']
for idx, value in enumerate(sports):
    print('{}: {}'.format(idx, value))

0: 농구
1: 축구
2: 수구
3: 마라톤
4: 테니스

In [25]:
students = ['홍길동', '박찬호', '이용규', '박승철', '김지은']
print('students: {}'.format(students))
print('students의 길이: {}'.format(len(students)))
print('students의 마지막 인덱스: {}'.format(len(students)-1))

print('')

scores.append(['수학', 96])
print('students: {}'.format(students))
print(' students의길이: {}'.format(len(students)))
print('students의 마지막 인덱스: {}'.format(len(students)-1))

for subject, score in scores:
    print('과목: {}, 점수: {}'.format(subject, score))

students: ['홍길동', '박찬호', '이용규', '박승철', '김지은']
students의 길이: 5
students의 마지막 인덱스: 4

students: ['홍길동', '박찬호', '이용규', '박승철', '김지은']
 students의길이: 5
students의 마지막 인덱스: 4
과목: 국어, 점수: 58
과목: 영어, 점수: 77
과목: 수학, 점수: 89
과목: 과학, 점수: 99
과목: 국사, 점수: 50
과목: 수학, 점수: 96
과목: 수학, 점수: 96